@font-face {
    font-family: 'Crash';
    src: url('Crash-Regular.woff2') format('woff2'),
        url('Crash-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

