---
import background from '../assets/images/background.svg';
import skyBlue from '../assets/images/skyBlue.jpg';
import GridBackground from './GridBackground.astro';
---

<div id="container">
	<GridBackground />
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="nametag-section">
			<h1 id="nametag">
				NABEEL ELEDROOS
			</h1>
		</section>
		<section id="menu-section">
			<h2 id="menu-item">
				Graphic Design
			</h2>
			<h2 id="menu-item">
				Photography
			</h2>
			<h2 id="menu-item">
				Projects
			</h2>
			<h2 id="menu-item">
				Resume
			</h2>
		</section>
	</main>
</div>

<style>
	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: block;
		justify-content: center;
	}

	#nametag-section {
		display: block;
		justify-content: center;
		width: 100%;
	}

	#nametag {
		color: rgba(188, 82, 238, 0.8);
		text-align: center;
		font-family: "kabisat", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 55px;
		transition: font-size 2s ease;
		cursor: default;
		/* margin: 0;
		padding: 0; */
	}

	@keyframes float {
		0%, 100% {
			transform: translateY(0) rotate(0deg);
		}
		25% {
			transform: translateY(-3px) rotate(0.5deg);
		}
		75% {
			transform: translateY(-3px) rotate(-0.5deg);
		}
	}

	@keyframes glow-nametag {
		0% {
			color: rgba(188, 82, 238, 0.7);
			text-shadow: 0 0 0px rgba(50, 69, 255, 0), 0 0 0px rgba(188, 82, 238, 0);
		}
		100% {
			color: rgba(188, 82, 238, 1);
			text-shadow: 0 0 25px rgba(188, 82, 238, 0.7), 0 0 50px rgba(188, 82, 238, 0.7);
		}
	}

	#nametag:hover {
		font-size: 65px;
		animation: glow-nametag 1.5s ease-in-out forwards, float 10s ease-in-out infinite;
		animation-delay: 0s, 2s;
	}

	#menu-section {
		justify-content: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#menu-item {
		color: rgba(100, 98, 194, 0.6);
		font-family: "Crash", sans-serif;
		/* font-optical-sizing: auto; */
		font-weight: 900;
		font-style: normal;
		text-align: center;
		font-size: 50px;
		cursor: pointer;
		transition: font-size 2s ease;
		display: inline-block;
		width: auto;
		padding: 2px;
	}

	@keyframes glow-menu-item {
		0% {
			text-shadow: 0 0 0px rgba(50, 69, 255, 0);
		}
		100% {
			/* text-shadow: 0 0 5px rgba(159, 59, 241, 0.7); */
			text-shadow: 0 0 10px rgba(145, 142, 216, 0.6);
		}
	}

	#menu-item:hover {
		font-size: 65px;
		animation: glow-menu-item 1.5s ease-in-out forwards, float 10s ease-in-out infinite;
		animation-delay: 0s, 2s;
	}

	@font-face {
		font-family: 'kabisat';
		src: url('../assets/fonts/kabisat/kabisat_demo-italictall-webfont.woff2') format('woff2'),
			url('../assets/fonts/kabisat/kabisat_demo-italictall-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Crash';
		src: url('../assets/fonts/crash/Crash-Regular.woff2') format('woff2'),
			url('../assets/fonts/crash/Crash-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	
	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#nametag-section {
			display: block;
			padding-top: 10%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
